/* - White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

- Font size (paragraph): 15px

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

   
    --gblue : rgba(123, 135, 157, 1);
    --dblue : rgba(31, 50, 81, 1);
    --black : rgb(105, 105, 105);
    --white : rgba(255, 255, 255, 1);
    --corn : rgba(100, 149, 237, 1);
    --lgray : rgb(233, 233, 233);
    --lblack : rgb(151, 151, 151);
    --hrline : rgb(190, 190, 190);
}

body{
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: var(--corn);

}

#box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 300px;
    width: 600px;
    background-color: var(--white);
  
}

#unfollow{
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
}

#fig{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    padding : 30px;
}

#im{
height: 100%;
width: 100%;
object-fit: cover;
object-position: center;
}

#art{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    width: 50%;
    padding : 30px;
}

h1{
    font-size: 35px;
    margin-bottom: 10px;
    cursor: text;
}

p{
    font-size: 20px;
    margin-bottom: 30px;
    cursor: text;
}

button{
    height: 15%;    
    width: 70%;
    font-size: 130%;
    letter-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}

#line{
    display: none;
    height: 2px;
    width: 600px;
    background-color: var(--hrline);
}

/*hidden gallary*/

#follow{
    display: none;
    height: 450px;
    width: 600px;
}

/* hiden menu */

#sidebar{
    display: none;
    flex-direction: column;
    justify-content:center;
   align-items: center;
    
    visibility: visible;
    margin-top: 50px;
    height: 752px;
    width: 600px;
    margin-left: 16px;
    background-color: var(--white);
    border-radius: 10px;

}

#message{
    height: 60px;
    width: 95%;
    background-color: var(--lgray);
    border-radius: 8px;
    margin-bottom: 12px;
    border-color: none;
    font-size: 20px;

}

#json{
    height: 80%;
    width: 80%;
}


